
/* Button 1 */
.st-key-color1 a {
    background-color: aquamarine;
    color: #191970;
    border-radius: 8px;
}
/* Button 2 */
.st-key-color2 a {
    background-color: #E6E6FA;
    color: #191970;
    border-radius: 8px;;
}
/* Button 3 */
.st-key-color3 a {
    background-color: #87CEFA;
    color: #191970;
    border-radius: 8px;
}
    /* Button 4 */
.st-key-color4 a {
    background-color: #E0FFFF;
    color: #191970;
    border-radius: 8px;
}
    /* Button 5 */
.st-key-color5 a {
    background-color: #FFF0F5;
    color: #191970;
    border-radius: 8px;
}
    /* Button 6 */
.st-key-color6 a {
    background-color: #F5FFFA;
    color: #191970;
    border-radius: 8px;
}
    /* Button 7 */
.st-key-color7 a {
    background-color: #FFE4E1;
    color: #191970;
    border-radius: 8px;
}
    /* Button 8 */
.st-key-color8 a {
    background-color: #FFE4E1;
    color: #191970;
    border-radius: 8px;
}